# Hero of Pymoli Data Analysis
* Male players on average spend more money in game than female players
* Player in the age group between 20 and 24 spends the most money in game; this may be because they have the most spending power out of the age groups who video gaming company targets.
* Player in the age group between 0 and 9 spend the most per player on average.

In [ ]:
import pandas as pd
import numpy as np
import os
import json

jsonpath = os.path.join("purchase_data.json")
pyhero_df = pd.read_json(jsonpath)
pyhero_df.head()

In [2]:
totalPlayers = pyhero_df["SN"].nunique()
totalItem = pyhero_df["Item Name"].nunique()
avgPrice = pyhero_df["Price"].mean()
totalRevenue = pyhero_df["Price"].sum()
totalPurchaseCt = pyhero_df["Price"].count()
print('Total Number of players ' + str(totalPlayers))
print('Total Number of Items ' + str(totalItem))
print('Average Purchase Price $'+ str(avgPrice))
print('Total Revenue $'+str(totalRevenue))
print('Total Number of Purchases '+str(totalPurchaseCt ))

Total Number of players 573
Total Number of Items 179
Average Purchase Price $2.931192307692303
Total Revenue $2286.33
Total Number of Purchases 780

In [5]:
#Gender Demographic
#Creating table
genderDemographic_df = pd.DataFrame(pyhero_df.groupby(['SN','Gender']).count())
genderDemographic_df = genderDemographic_df.reset_index()
genderDemographic_df = pd.DataFrame(genderDemographic_df.groupby(["Gender"]).count())
total_row = genderDemographic_df['SN'].sum()
genderDemographic_df['Percentage'] = genderDemographic_df['Price']/total_row*100
genderDemographic_df = pd.DataFrame(genderDemographic_df,columns=['SN','Percentage'])
genderDemographic_df.columns = ['Total Number of Players','Percentage']
genderDemographic_df

                       Total Number of Players  Percentage
Gender
Female                                     100   17.452007
Male                                       465   81.151832
Other / Non-Disclosed                        8    1.396161

In [6]:
#Purchasing Analysis Gender
genderDemographic_total = pd.DataFrame(pyhero_df.groupby(['Gender']).sum())
genderDemographic_avg = pd.DataFrame(pyhero_df.groupby(['Gender']).mean())
genderDemographic_ct = pd.DataFrame(pyhero_df.groupby(['Gender']).count())
genderDemographic_total['Normalized Total'] = (genderDemographic_total['Price'] - genderDemographic_total['Price'].min())/(genderDemographic_total['Price'].max()-genderDemographic_total['Price'].min())
genderDemographic_total = genderDemographic_total.reset_index()
genderDemographic_avg = genderDemographic_avg.reset_index()
genderDemographic_ct = genderDemographic_ct.reset_index()
#Merging and compiling table for purchasing analysis by Gender
merge_table = pd.merge(genderDemographic_total,genderDemographic_avg, on = "Gender", how = "left")
merge_table = pd.merge(merge_table,genderDemographic_ct, on = 'Gender',how = "left")
GenderAnalysis_df = pd.DataFrame(merge_table, columns = ['Gender','Price_x','Price_y','Price','Normalized Total'])
GenderAnalysis_df = GenderAnalysis_df.set_index('Gender')
GenderAnalysis_df.columns = ['Total Purchase Value','Average Purchase Value','Total Purchase Count','Normalized Total']
GenderAnalysis_df.head()

,Total Purchase Value,Average Purchase Value,Total Purchase Count,Normalized Total
Gender,,,,
Female,382.91,2.815515,136,0.189509
Male,1867.68,2.950521,633,1.000000
Other / Non-Disclosed,35.74,3.249091,11,0.000000

In [7]:
#Age Demographics
#Creating Bins
bins=[0,10,15,20,25,30,35,40,46]
group_names = ['0 to 9 ','10 to 14', '15 to 19','20 to 24','25 to 29','30 to 34','35 to 39','40 to 45']
pyhero_df["Age Group"] = pd.cut(pyhero_df["Age"],bins,labels = group_names)
#Creating Tables for Age Group
age_total = pd.DataFrame(pyhero_df.groupby(['Age Group']).sum())
age_avg = pd.DataFrame(pyhero_df.groupby(['Age Group']).mean())
age_ct = pd.DataFrame(pyhero_df.groupby(['Age Group']).count())
age_total['Normalized Total'] = (age_total['Price'] - age_total['Price'].min())/(age_total['Price'].max()-age_total['Price'].min())
age_total = age_total.reset_index()
age_avg = age_avg.reset_index()
age_ct = age_ct.reset_index()
merge_table = pd.merge(age_total,age_avg, on = "Age Group", how = "left")
merge_table = pd.merge(merge_table,age_ct, on = "Age Group",how = "left")
AgeAnalysis_df = pd.DataFrame(merge_table, columns = ['Age Group','Price','Price_y','Price_x','Normalized Total'])
AgeAnalysis_df = AgeAnalysis_df.set_index('Age Group')
AgeAnalysis_df.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Total']
AgeAnalysis_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Total
Age Group,,,,
0 to 9,32,3.019375,96.62,0.098415
10 to 14,78,2.873718,224.15,0.241071
15 to 19,184,2.873587,528.74,0.581787
20 to 24,305,2.959377,902.61,1.000000
25 to 29,76,2.892368,219.82,0.236227

In [8]:
#Purchasing Analysis by SN
SN_total = pd.DataFrame(pyhero_df.groupby(['SN']).sum())
SN_avg = pd.DataFrame(pyhero_df.groupby(['SN']).mean())
SN_count = pd.DataFrame(pyhero_df.groupby(['SN']).count())
SN_total['Normalized Total'] = (SN_total['Price'] - SN_total['Price'].min())/(SN_total['Price'].max()-SN_total['Price'].min())
SN_total = SN_total.reset_index()
SN_avg = SN_avg.reset_index()
SN_count = SN_count.reset_index()
merge_SN = pd.merge(SN_total,SN_avg,on = 'SN', how = 'left')
merge_SN = pd.merge(merge_SN,SN_count, on = 'SN',how = 'left')
merge_SN = pd.DataFrame(merge_SN, columns = ["Price_x","Price_y","Price","Normalized Total"])
merge_SN.columns =  ['Total Purchase Value','Average Purchase Value','Total Purchase Count','Normalized Total']
merge_SN = merge_SN.sort_values(['Total Purchase Count'],ascending = False)
merge_SN.head()

,Total Purchase Value,Average Purchase Value,Total Purchase Count,Normalized Total
538,17.06,3.4120,5,1.000000
354,12.74,3.1850,4,0.730505
385,9.97,2.4925,4,0.557704
428,13.56,3.3900,4,0.781659
467,10.24,2.5600,4,0.574548

In [9]:
#Purchasing Analysis by item id AND name
Item_total = pd.DataFrame(pyhero_df.groupby(['Item Name','Item ID']).sum())
Item_avg = pd.DataFrame(pyhero_df.groupby(['Item Name','Item ID']).mean())
Item_count = pd.DataFrame(pyhero_df.groupby(['Item Name','Item ID']).count())
Item_total['Normalized Total'] = (Item_total['Price'] - Item_total['Price'].min())/(Item_total['Price'].max()-Item_total['Price'].min())
Item_total = Item_total.reset_index()
Item_avg = Item_avg.reset_index()
Item_count = Item_count.reset_index()
merge_Item = pd.merge(Item_total,Item_avg,on = 'Item Name', how = 'left')
merge_Item = pd.merge(merge_Item,Item_count, on = 'Item Name',how = 'left')
merge_Item = pd.DataFrame(merge_Item, columns = ["Item Name","Item ID_x","Price_x","Price_y","Price","Normalized Total"])
merge_Item.columns =  ['Item Name','Item ID','Total Purchase Value','Average Purchase Value','Total Purchase Count','Normalized Total']
merge_Item = merge_Item.sort_values(['Total Purchase Value'],ascending = False)
merge_Item.head()

,Item Name,Item ID,Total Purchase Value,Average Purchase Value,Total Purchase Count,Normalized Total
133,Retribution Axe,34,37.26,4.14,9,1.000000
153,Spectral Diamond Doomblade,115,29.75,4.25,7,0.791967
110,Orenmir,32,29.70,4.95,6,0.790582
145,Singed Scalpel,103,29.22,4.87,6,0.777285
155,"Splitter, Foe Of Subtlety",107,28.88,3.61,8,0.767867

In [10]:
merge_Item_Ct = merge_Item.sort_values(['Total Purchase Count'],ascending = False)
merge_Item_Ct.head()

,Item Name,Item ID,Total Purchase Value,Average Purchase Value,Total Purchase Count,Normalized Total
11,"Betrayal, Whisper of Grieving Widows",39,25.85,2.35,11,0.683934
8,Arcane Gem,84,24.53,2.23,11,0.647368
133,Retribution Axe,34,37.26,4.14,9,1.000000
140,Serenity,13,13.41,1.49,9,0.339335
183,Trickster,31,18.63,2.07,9,0.483934